<?xml version="1.0"?>
<!-- Viewer-only mecanum UGV. Root is base_link (matches /xgc/tf). All meshes
     are mm-authored STL with scale 0.001 and explicit materials. -->
<robot name="xgc2_mecanum_ugv">
  <material name="mecanum_body">
    <color rgba="0.90 0.80 0.60 1"/>
  </material>
  <material name="mecanum_metal">
    <color rgba="0.15 0.15 0.15 1"/>
  </material>
  <material name="mecanum_wheel">
    <color rgba="0.60 0.60 0.60 1"/>
  </material>
  <material name="mecanum_sensor">
    <color rgba="0.15 0.15 0.15 1"/>
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/nexus_base_link.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_body"/>
    </visual>
    <visual name="stereo_camera">
      <origin xyz="0.205 0 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.08 0.01"/>
      </geometry>
      <material name="mecanum_sensor"/>
    </visual>
  </link>

  <link name="upper_left_wheel">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/mecanum_wheel_left.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_wheel"/>
    </visual>
  </link>
  <joint name="upper_left_wheel_joint" type="fixed">
    <origin xyz="0.150 0.150 0.05" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="upper_left_wheel"/>
  </joint>

  <link name="lower_left_wheel">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/mecanum_wheel_right.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_wheel"/>
    </visual>
  </link>
  <joint name="lower_left_wheel_joint" type="fixed">
    <origin xyz="-0.150 0.150 0.05" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="lower_left_wheel"/>
  </joint>

  <link name="upper_right_wheel">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/mecanum_wheel_right.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_wheel"/>
    </visual>
  </link>
  <joint name="upper_right_wheel_joint" type="fixed">
    <origin xyz="0.150 -0.150 0.05" rpy="3.141592653589793 0 0"/>
    <parent link="base_link"/>
    <child link="upper_right_wheel"/>
  </joint>

  <link name="lower_right_wheel">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/mecanum_wheel_left.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_wheel"/>
    </visual>
  </link>
  <joint name="lower_right_wheel_joint" type="fixed">
    <origin xyz="-0.150 -0.150 0.05" rpy="3.141592653589793 0 0"/>
    <parent link="base_link"/>
    <child link="lower_right_wheel"/>
  </joint>

  <link name="upper_left_wheel_shaft">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/wheel_shaft.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_metal"/>
    </visual>
  </link>
  <joint name="upper_left_wheel_shaft_joint" type="fixed">
    <origin xyz="0.150 0.108 0.05" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="upper_left_wheel_shaft"/>
  </joint>

  <link name="upper_right_wheel_shaft">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/wheel_shaft.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_metal"/>
    </visual>
  </link>
  <joint name="upper_right_wheel_shaft_joint" type="fixed">
    <origin xyz="0.150 -0.108 0.05" rpy="3.141592653589793 0 0"/>
    <parent link="base_link"/>
    <child link="upper_right_wheel_shaft"/>
  </joint>

  <link name="lower_left_wheel_shaft">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/wheel_shaft.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_metal"/>
    </visual>
  </link>
  <joint name="lower_left_wheel_shaft_joint" type="fixed">
    <origin xyz="-0.150 0.108 0.05" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="lower_left_wheel_shaft"/>
  </joint>

  <link name="lower_right_wheel_shaft">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/wheel_shaft.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_metal"/>
    </visual>
  </link>
  <joint name="lower_right_wheel_shaft_joint" type="fixed">
    <origin xyz="-0.150 -0.108 0.05" rpy="3.141592653589793 0 0"/>
    <parent link="base_link"/>
    <child link="lower_right_wheel_shaft"/>
  </joint>

  <link name="front_sensor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/urm04.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_sensor"/>
    </visual>
  </link>
  <joint name="front_sensor_joint" type="fixed">
    <origin xyz="0.205 0 0.06" rpy="1.5707963267948966 0 0"/>
    <parent link="base_link"/>
    <child link="front_sensor"/>
  </joint>

  <link name="left_sensor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/urm04.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_sensor"/>
    </visual>
  </link>
  <joint name="left_sensor_joint" type="fixed">
    <origin xyz="0 0.108 0.06" rpy="1.5707963267948966 0 1.5707963267948966"/>
    <parent link="base_link"/>
    <child link="left_sensor"/>
  </joint>

  <link name="right_sensor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/urm04.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_sensor"/>
    </visual>
  </link>
  <joint name="right_sensor_joint" type="fixed">
    <origin xyz="0 -0.108 0.06" rpy="1.5707963267948966 0 -1.5707963267948966"/>
    <parent link="base_link"/>
    <child link="right_sensor"/>
  </joint>

  <link name="rear_sensor">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mecanum_description/meshes/urm04.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="mecanum_sensor"/>
    </visual>
  </link>
  <joint name="rear_sensor_joint" type="fixed">
    <origin xyz="-0.201 0 0.06" rpy="1.5707963267948966 0 3.141592653589793"/>
    <parent link="base_link"/>
    <child link="rear_sensor"/>
  </joint>
</robot>
